// Theme Colors
@color-black : rgb(0, 0, 0);
@color-coal :  rgb(27, 27, 27);
@color-nero : rgb(32, 32, 32);
@color-white : rgb(255, 255, 255);

@color-cyan : rgb(47, 214, 172);
@color-red : rgb(255, 80, 153);

// BORDERS
@color-borders: @color-black;
@color-borders-light: lighten(@color-black, 70%);

// CONTENT
@color-body-bg: transparent;
@color-text: @color-coal;
@color-text-negative: @color-black;

@color-text-error: @color-red;
@color-text-success: @color-cyan;

// LINKS
@color-link-text: @color-cyan;
@color-link-text-active: darken(@color-black, 70%);
